{
  "openapi": "3.0.1",
  "info": {
    "title": "Telzio API",
    "description": "Telzio's next generation API to power dashboard, mobile and desktop apps.",
    "termsOfService": "https://telzio.com/legal/terms",
    "contact": {
      "name": "Telzio, Inc.",
      "email": "support@telzio.com"
    },
    "version": "v3",
    "x-logo": {
      "altText": "Telzio Logo",
      "url": "https://cdn.telzio.com/img/brand/telzio.svg"
    }
  },
  "servers": [
    {
      "url": "https://api.telzio.com"
    }
  ],
  "paths": {
    "/v3/auth": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authenticate",
        "description": "Request a JWT claims token and basic provisioning data.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "client_platform",
                  "password",
                  "username"
                ],
                "type": "object",
                "properties": {
                  "username": {
                    "maxLength": 64,
                    "type": "string",
                    "description": "The user's username. Not case sensitive.",
                    "example": "pgriffin"
                  },
                  "password": {
                    "maxLength": 128,
                    "type": "string",
                    "description": "The user's password. Case sensitive.",
                    "example": "TheBirdIsTheWord72"
                  },
                  "mfa_code": {
                    "maxLength": 6,
                    "type": "string",
                    "description": "The MFA code for the user's login session. Required if multi-factor authentication is enabled on the user's account.\r\nIf MFA is enabled and this property is not included in the request, the API will reject the login and ask for an MFA code.",
                    "example": "123456"
                  },
                  "client_platform": {
                    "$ref": "#/components/schemas/ClientPlatform"
                  }
                },
                "discriminator": {
                  "propertyName": "client_platform",
                  "mapping": {
                    "mobile": "#/components/schemas/AuthenticationRequestMobile",
                    "browser": "#/components/schemas/AuthenticationRequestBrowser",
                    "desktop": "#/components/schemas/AuthenticationRequestDesktop",
                    "custom": "#/components/schemas/AuthenticationRequestCustom"
                  }
                }
              },
              "encoding": {
                "username": {
                  "style": "form"
                },
                "password": {
                  "style": "form"
                },
                "mfa_code": {
                  "style": "form"
                },
                "client_platform": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Provision"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/auth/provision": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Provision",
        "description": "Refreshes the user's initial provisioning data, including basic account information and data about available numbers.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Provision"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/auth/sip/parameters": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "SIP Session Parameters",
        "description": "Generates a one time use set of parameters needed to create a SIP Connection and WebRTC Session",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SipConnectionData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/auth/push-token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Set a Push Token",
        "description": "Updates the user's push-token.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "device_id",
                  "token",
                  "token_type"
                ],
                "type": "object",
                "properties": {
                  "device_id": {
                    "type": "string",
                    "description": "A unique ID representing the device. This will remain the same when when logging out of the app and signing back in with a different username."
                  },
                  "token": {
                    "type": "string",
                    "description": "The push notification token created by the device."
                  },
                  "token_type": {
                    "$ref": "#/components/schemas/NotificationTokenType"
                  }
                }
              },
              "encoding": {
                "device_id": {
                  "style": "form"
                },
                "token": {
                  "style": "form"
                },
                "token_type": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelzioItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Authentication"
        ],
        "summary": "Delete a Push Token",
        "description": "Removes a user's push token for the specified device id from the server. For example if the user logs out of the app, or if the app has been deleted from the device.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "device_id"
                ],
                "type": "object",
                "properties": {
                  "device_id": {
                    "type": "string",
                    "description": "The unique ID to identify the specific device."
                  }
                }
              },
              "encoding": {
                "device_id": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelzioItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/auth/password/reset": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Reset Password",
        "description": "Request a password reset link to be sent to the user's email. Will always return 200 OK, no matter if a matching username was found or not.\r\nIf the username was found, this method will send an email with a link that includes a token to reset the user's password. This token can be used in the update-password method.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "username"
                ],
                "type": "object",
                "properties": {
                  "username": {
                    "maxLength": 64,
                    "type": "string",
                    "description": "The username of the user to request a password reset link for.",
                    "example": "pgriffin"
                  }
                }
              },
              "encoding": {
                "username": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelzioItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/auth/password/update": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Update Password",
        "description": "Updates the user's password.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "password",
                  "token",
                  "user_id"
                ],
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "The unique ID for the user updating the password.",
                    "example": "usr_5pOkGnXqPzoK"
                  },
                  "token": {
                    "type": "string",
                    "description": "The temporary token to authenticate the user for a password update request."
                  },
                  "password": {
                    "type": "string",
                    "description": "The the user's new password"
                  }
                }
              },
              "encoding": {
                "user_id": {
                  "style": "form"
                },
                "token": {
                  "style": "form"
                },
                "password": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelzioItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/call_flows": {
      "get": {
        "tags": [
          "Call Flows"
        ],
        "summary": "List Call Flows",
        "description": "Retrieves a list of all call flows if the user is an administrator or has permissions to manage call flows.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CallFlow"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/call_flows/{flow_id}": {
      "post": {
        "tags": [
          "Call Flows"
        ],
        "summary": "Update a Call Flow",
        "description": "Updates the name or extension of a Call Flow.",
        "parameters": [
          {
            "name": "flow_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "flo_alpDrRXRD6Gb"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "extension": {
                    "type": "string",
                    "description": "The new extension of the Call Flow"
                  },
                  "name": {
                    "type": "string",
                    "description": "The new name of the Call Flow"
                  }
                }
              },
              "encoding": {
                "extension": {
                  "style": "form"
                },
                "name": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallFlow"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Call Flows"
        ],
        "summary": "Delete a Call Flow",
        "description": "Permanently deletes a Call Flow.",
        "parameters": [
          {
            "name": "flow_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "flo_zo4PAj2bk97E"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/calls/{call_id}": {
      "get": {
        "tags": [
          "Calls"
        ],
        "summary": "Retrieve a Call",
        "description": "Returns the details for a call.",
        "parameters": [
          {
            "name": "call_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/calls/recent": {
      "get": {
        "tags": [
          "Calls"
        ],
        "summary": "List Recent Calls",
        "description": "Retrieves a list of the users most recent calls.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter_by",
            "in": "query",
            "description": "Filter the list of recent calls",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RecentCallFilters"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecentCallList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/comments/{item_id}": {
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "List Comments",
        "description": "Lists comments on an item. By default sorted by `created` in descending order. Use `starting_after` and `ending_before` to do paging or retrieve latest messages since last request.",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "com_zdVPyvQGkgvx"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "com_oaVDNqm3kRGp"
            }
          },
          {
            "name": "sort_direction",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SortDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Create a Comment",
        "description": "Create a new comment on an item.",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "text"
                ],
                "type": "object",
                "properties": {
                  "text": {
                    "maxLength": 3000,
                    "minLength": 0,
                    "type": "string",
                    "description": "The text in the comment.",
                    "example": "I May Be An Idiot, But There's One Thing I'm Not Sir, And That Is An Idiot."
                  }
                }
              },
              "encoding": {
                "text": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/comments/{item_id}/{comment_id}": {
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Update a Comment",
        "description": "Updates an existing comment on an item. This can only be done by the user who created the comment in the first place.",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "comment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "com_pWw8O2WzDV12"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "text"
                ],
                "type": "object",
                "properties": {
                  "text": {
                    "maxLength": 3000,
                    "minLength": 0,
                    "type": "string",
                    "description": "The text in the comment.",
                    "example": "I May Be An Idiot, But There's One Thing I'm Not Sir, And That Is An Idiot."
                  }
                }
              },
              "encoding": {
                "text": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Comments"
        ],
        "summary": "Delete a Comment",
        "description": "Deletes a comment from a voicemail. This can only be done by by an administrator or the user who created the comment.",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "comment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "com_wQX8MzdnzPVd"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelzioItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/conversations/query": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Query Conversations",
        "description": "Queries if a conversation with one or more participants already exist, and returns the exiting conversation_id if it does. If a conversation exists, that the requester doesn't have access to, the conversation_id is returned, and can be used to request access to the conversation.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "participants"
                ],
                "type": "object",
                "properties": {
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of remote participants in the conversation. Currently exactly one must be provided."
                  },
                  "number_id": {
                    "type": "string",
                    "description": "Number ID this message should be sent from. The user must have access to this number.",
                    "example": "num_bG58KV4QDYlz"
                  }
                }
              },
              "encoding": {
                "participants": {
                  "style": "form"
                },
                "number_id": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryConversationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/conversations/{conversation_id}/request-assignment": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Request Assignment",
        "description": "Allows the user to request that a conversation which is currently assigned to someone else, to be either closed or reassigned to the user.",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cnv_bG58KVnJDYlz"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "maxLength": 1000,
                    "minLength": 0,
                    "type": "string",
                    "description": "A message sent to the current owners of the conversation, optionally specifying why access is needed."
                  }
                }
              },
              "encoding": {
                "message": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ConversationAccessRequest"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/conversations": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "List Conversations",
        "description": "Retrieves a list of conversations. `Items` will only include the most recent entry. `Assignments` will only include the current assignment. `Comments` are not included in this response.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/conversations/{conversation_id}": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Retrieve a Conversation",
        "description": "This request includes the 20 most recent items (for example SMS messages) in the conversation, as well as the basic meta data, such as comments, assignments, tags, etc.",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cnv_0MW8YRgzPn15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationInaccessibleError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Update a Conversation",
        "description": "Updates certain details on an existing conversation, assignments and tags.",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cnv_zdVPyjBLkgvx"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Change the tags assigned to the conversation.",
                    "example": [
                      "tag_RJVDpg4okx5j"
                    ]
                  },
                  "assigned_user": {
                    "type": "string",
                    "description": "Reassign the conversation to another user. Only `assigned_user` or `assigned_user_group` can be sat, but not both at the same time.",
                    "example": "usr_Aq1kXgOEPrJ7"
                  },
                  "assigned_user_group": {
                    "type": "string",
                    "description": "Reassign the conversation to a group of users. Only `assigned_user` or `assigned_user_group` can be sat, but not both at the same time.",
                    "example": "usg_alpDrm7Jk6Gb"
                  },
                  "status": {
                    "$ref": "#/components/schemas/ConversationStatusOptions"
                  },
                  "read_status": {
                    "$ref": "#/components/schemas/ConversationReadStatusOptions"
                  }
                }
              },
              "encoding": {
                "tags": {
                  "style": "form"
                },
                "assigned_user": {
                  "style": "form"
                },
                "assigned_user_group": {
                  "style": "form"
                },
                "status": {
                  "style": "form"
                },
                "read_status": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelzioItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Conversations"
        ],
        "summary": "Delete a Conversation",
        "description": "Deletes a conversation and all included items, comments, etc. _This can not be undone._",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cnv_Aq1kXRml8rJ7"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelzioItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/conversations/{conversation_id}/messages/{message_id}": {
      "delete": {
        "tags": [
          "Conversations"
        ],
        "summary": "Delete a message in a ImMessage conversation",
        "description": "Deletes a conversation and all included items, comments, etc. _This can not be undone._",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cnv_4mpDqbAl8RaQ"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "msg_yZG8nBRO8239"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelzioItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/conversations/{conversation_id}/items": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "List Conversation Items",
        "description": "By default this request will retrieve 20 items ordered by `id` in descending order. Use `starting_after` for updating an already populated dataset, and `ending_before` for paging.",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cnv_Ry18l0jg8G5V"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/MessageIdent"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/MessageIdent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationItemList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/conversations/sms/create-conversation": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Create an SMS Conversation",
        "description": "Creates a new conversation intended for an SMS message. This is a temporary endpoint that will change in the future as all item types become part of conversations.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "number_id",
                  "recipient"
                ],
                "type": "object",
                "properties": {
                  "number_id": {
                    "type": "string",
                    "description": "Number ID to send message from. Will be users default number if not specified.\r\nOnly used if creating a new conversation.",
                    "example": "num_alpDrXXJP6Gb"
                  },
                  "recipient": {
                    "type": "string",
                    "description": "Phone Number of recipient."
                  },
                  "text": {
                    "maxLength": 2048,
                    "type": "string",
                    "description": "The text to send. This can be null if media is added.",
                    "example": "Oh, and tell Cookie Monster not to phone me until he finishes rehab."
                  },
                  "media_attachments": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of ID's of the previously uploaded media files to attached with the message."
                  }
                }
              },
              "encoding": {
                "number_id": {
                  "style": "form"
                },
                "recipient": {
                  "style": "form"
                },
                "text": {
                  "style": "form"
                },
                "media_attachments": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMS"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/conversations/{conversation_id}/sms": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Send an SMS",
        "description": "Sends a new SMS as part of an existing conversation",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cnv_B5Kk5jmRxDzN"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "maxLength": 2048,
                    "type": "string",
                    "description": "The text to send. This can be null if media is added.",
                    "example": "Oh, and tell Cookie Monster not to phone me until he finishes rehab."
                  },
                  "media_attachments": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of ID's of the previously uploaded media files to attached with the message."
                  }
                }
              },
              "encoding": {
                "text": {
                  "style": "form"
                },
                "media_attachments": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMS"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/conversations/sms/media": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Upload Media",
        "description": "Endpoint to upload binary data and temporarily hold it before sending it in an SMS.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "The file to upload.",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "file": {
                  "style": "form"
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "The file to upload.",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "file": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMSMediaUpload"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/conversations/{conversation_id}/sms/{sms_id}/media/{media_id}": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Download Media",
        "description": "Retrieves a media file included in an SMS",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cnv_zdVPyxRG8gvx"
            }
          },
          {
            "name": "sms_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "msg_MxJD32p7kNro"
            }
          },
          {
            "name": "media_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "mms_pWNkZZQVk7Bq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/data_retention/settings": {
      "get": {
        "tags": [
          "Data Retention"
        ],
        "summary": "List Settings",
        "description": "Lists the data retention settings for all data types on the account.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataRetentionSettingList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/data_retention/settings/{setting_type}": {
      "post": {
        "tags": [
          "Data Retention"
        ],
        "summary": "Update a Setting",
        "description": "Change the number of days that various records in Telzio are retained.",
        "parameters": [
          {
            "name": "setting_type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DataRetentionSettingType"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "days": {
                    "maximum": 365,
                    "minimum": 7,
                    "type": "integer",
                    "description": "The number of days Telzio should retain data of this type. Setting this value to NULL will let Telzio store the data indefinitely.",
                    "format": "int32"
                  }
                }
              },
              "encoding": {
                "days": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelzioItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/faxes": {
      "get": {
        "tags": [
          "Faxes"
        ],
        "summary": "List Faxes",
        "description": "Returns the user's available Fax. By default ordered by `created` descending. Use `starting_after` and `ending_before` to do paging or retrieve latest messages since last request.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "fax_wOWDexMzk15a"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "fax_lXMk9EROkd0Y"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "example": "tag_5pOkGqvxd8zo"
            }
          },
          {
            "name": "filter_by",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/FaxFilters"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FaxList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/faxes/{fax_id}": {
      "get": {
        "tags": [
          "Faxes"
        ],
        "summary": "Retrieve a Fax",
        "description": "Returns the details of an existing Fax.",
        "parameters": [
          {
            "name": "fax_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "fax_jXmDLrQ5PgGZ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fax"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "Faxes"
        ],
        "summary": "Update a Fax",
        "description": "Update status, assignments and tags on an existing fax.",
        "parameters": [
          {
            "name": "fax_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "fax_pQq8bgvePMxN"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "$ref": "#/components/schemas/FaxStatus"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Change the tags assigned to the voicemail.",
                    "example": [
                      "tag_AzlD0Mx18nbV"
                    ]
                  },
                  "assigned_user": {
                    "type": "string",
                    "description": "Reassign the voicemail to another user. Only `assigned_user` or `assigned_user_group` can be sat, but not both at the same time.",
                    "example": "usr_alpDr4ZVP6Gb"
                  },
                  "assigned_user_group": {
                    "type": "string",
                    "description": "Reassign the voicemail to a group of users. Only `assigned_user` or `assigned_user_group` can be sat, but not both at the same time.",
                    "example": "usg_5pOkGVVqPzoK"
                  }
                }
              },
              "encoding": {
                "status": {
                  "style": "form"
                },
                "tags": {
                  "style": "form"
                },
                "assigned_user": {
                  "style": "form"
                },
                "assigned_user_group": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FaxUpdatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Faxes"
        ],
        "summary": "Delete a Fax",
        "description": "Permanently delete a Fax. This can not be undone. Also deleted any comments, tags or assignments attached to the Fax.",
        "parameters": [
          {
            "name": "fax_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "fax_pWw8Ooyy8V12"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelzioItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/faxes/{fax_id}/download": {
      "get": {
        "tags": [
          "Faxes"
        ],
        "summary": "Download a Fax",
        "description": "Retrieves the PDF containing the actual fax.",
        "parameters": [
          {
            "name": "fax_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "fax_Aq1kX6rn8rJ7"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/hold_music": {
      "get": {
        "tags": [
          "Hold Music"
        ],
        "summary": "List Songs",
        "description": "Get a list of all hold music songs on the account.",
        "parameters": [
          {
            "name": "options",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/HoldMusicListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HoldMusicList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "Hold Music"
        ],
        "summary": "Add a Song",
        "description": "Add a new song to the library of hold music.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file",
                  "title"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "An mp3, wav or m4a file with a max file size of 15mb and max duration of 15 min.",
                    "format": "binary"
                  },
                  "title": {
                    "maxLength": 64,
                    "type": "string",
                    "description": "The title of the song."
                  }
                }
              },
              "encoding": {
                "file": {
                  "style": "form"
                },
                "title": {
                  "style": "form"
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "file",
                  "title"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "An mp3, wav or m4a file with a max file size of 15mb and max duration of 15 min.",
                    "format": "binary"
                  },
                  "title": {
                    "maxLength": 64,
                    "type": "string",
                    "description": "The title of the song."
                  }
                }
              },
              "encoding": {
                "file": {
                  "style": "form"
                },
                "title": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HoldMusic"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/hold_music/{hold_music_id}": {
      "get": {
        "tags": [
          "Hold Music"
        ],
        "summary": "Retrieve a Song",
        "description": "Retrieves the details for a specific hold music song.",
        "parameters": [
          {
            "name": "hold_music_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "moh_5pOkGeYb8zoK"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HoldMusic"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Hold Music"
        ],
        "summary": "Delete a Song",
        "description": "Delete a hold music song.",
        "parameters": [
          {
            "name": "hold_music_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "moh_eqVDwwAADbXv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelzioItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/hold_music/{hold_music_id}/download": {
      "get": {
        "tags": [
          "Hold Music"
        ],
        "summary": "Download a Song",
        "description": "Download the wav encoded hold music song.",
        "parameters": [
          {
            "name": "hold_music_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "moh_yZG8nVBz8239"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The format of the returned file.",
            "schema": {
              "$ref": "#/components/schemas/AudioFormat"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/mp3": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "audio/wav": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              },
              "audio/mp3": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "audio/wav": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              },
              "audio/mp3": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "audio/wav": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              },
              "audio/mp3": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/legal": {
      "get": {
        "tags": [
          "Legal Policies"
        ],
        "summary": "List Policies",
        "description": "Returns all effective and upcoming policies in their most recent version.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegalPolicyList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/legal/{policy_key}/{policy_version}": {
      "get": {
        "tags": [
          "Legal Policies"
        ],
        "summary": "Retrieve a Policy",
        "description": "Returns policy description for the specified policy key and version",
        "parameters": [
          {
            "name": "policy_key",
            "in": "path",
            "description": "Policy key to view",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policy_version",
            "in": "path",
            "description": "Policy version to view",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegalPolicy"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/legal/{policy_key}/{policy_version}/consent": {
      "post": {
        "tags": [
          "Legal Policies"
        ],
        "summary": "Consent",
        "description": "Provides consent for the specified policy. If a new claims token is returned this must be used for all subsequent requests to the API",
        "parameters": [
          {
            "name": "policy_key",
            "in": "path",
            "description": "The policy key of the policy you want to consent to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policy_version",
            "in": "path",
            "description": "The policy version of the policy you want to consent to.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Provision"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Token": [ ]
          }
        ]
      }
    },
    "/v3/logging": {
      "post": {
        "tags": [
          "Logging"
        ],
        "summary": "Create Entries",
        "description": "Submit technical log entries from the client app.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "client_platform",
                  "entries"
                ],
                "type": "object",
                "properties": {
                  "client_platform": {
                    "$ref": "#/components/schemas/ClientPlatform"
                  },
                  "entries": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/LogEntry"
                    },
[...]
